body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.d {
  background-color: rgb(red, green, blue);
}
/*.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}*/
.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}
.text {
  font-size: 14px;
  margin-bottom: 5px;
}
.color-box {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.credit-card {
  width: auto;
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.credit-card .card-type {
  margin-bottom: 10px;
}
.credit-card .card-number {
  margin-bottom: 10px;
  font-size: 20px;
}
.credit-card .card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.rating .star {
  color: gold;
  margin-right: 5px;
}
.driver-card {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.driver-card img {
  width: 5cm;
  height: 5cm;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  overflow: hidden;
}
.driver-card .info {
  display: flex;
  flex-direction: column;
}
.driver-card .info .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.driver-card .info .car {
  font-size: 14px;
}
/* Estilos para botões */
button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
button:hover {
  opacity: 0.8;
}
.container .dice {
  width: auto;
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container .carousel .images {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.container .carousel-button {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.carousel-button:hover {
  background-color: #ccc;
}

.container .clickable-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.container .clickable-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.numbers-table {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
}

.number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 5px;
}

.even {
  background-color: red;
  color: black;
}
.country-buttons {
  margin-bottom: 20px;
  color: black;
}

.country-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  color: black;
}

.country-buttons button:hover {
  background-color: #ccc;
}

.profiles .profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.profiles .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profiles .profile .profile-details {
  display: flex;
  flex-direction: column;
}

.profiles .profile .profile-details p {
  margin: 5px 0;
}

.profiles .profile[style] {
  background-color: blue;
  color: black;
}
